@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    margin: 0px;
}

hr {
    margin: 20px 0px 20px 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 130px;

    gap: 10px;

    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}


/* ---------- HEADER STYLING ---------- */
.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #444444;
}

.logo {
    padding-left: 50px;
    padding-top: 10px;
    max-width:70px;
    max-height:50px;
    width: auto;
    height: auto;
}

.header h1 {
    display: inline;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    bottom: 19px;
    left: 7px;
}
/* ---------- ---------- */





/* ---------- COURSES STYLING ---------- */
.filters {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: "Inter"
}

.filters h2 {
    margin-left: 10px
}

.checkboxes {
    font-family: "Inter";   
}

.search-div {
    margin-left: 20px;
}

.courses {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
}

.course-name-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.credits {
    display: flex;
    flex-direction: column;
    min-width: 40px;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    font-size: 15px;
}


.in-major-basic {
    background-color: #D7B98E;
}

.in-elec {
    background-color: #F1A7BA;
}

.in-minor {
    background-color: #8CCCB3;
}

.courses input {
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    padding: 5px 8px 5px 8px;
}
/* ---------- ---------- */




/* ---------- REVIEWS STYLING ---------- */
.course-name {
    font-size: 1.5em;
    font-family: "Inter";
}

.stats-difficulty {
    display: flex;
    padding-top: 1%;
}

.stats-teaching {
    display: flex;
    padding-top: 1%;
}

.stats-workload {
    display: flex;
    padding-top: 1%;
}


.reviews-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
    max-height: 200px;
}

.bars {
    min-width: 70%;
}

.overall-score {
    font-family: "Inter";
    font-size: 40px;
    right: 13%;
    top: 8%;
}


.post-btn {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;
    
    background-color: white;
    padding: 5px 8px 5px 8px;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
}

.post-btn:hover {
    background-color: #e1e1e1;
}


.reviews {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 50vw;
    overflow: auto;
    padding-left: 20px;
}

.reviews hr {
    width: 95%
}

.courses hr {
    width: 95%;
    position: relative;
    left: 2.5%
}

.review {
    padding: 0px 0px 40px 0px;
}

.stars-and-verified {
    display: flex;
    flex-direction: row;

    padding: 0px 0px 10px 0px;
}


.review-and-stars {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}

.review-text {
    padding: 0px 0px 10px 0px;
    min-height: 75px;
    width: 65%;
    word-wrap: break-word;
    text-align: justify;
}

.review-text-stars {
    display: flex;
    flex-direction: row;
    font-family: "Inter"
}


.star-ratings {
    margin-left: 20px;
    margin-top: -3px;
    cursor: pointer;
    font-family: "Inter";
}

.general-btn {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;

    background-color: white;
    padding: 5px 8px 5px 8px;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
}

.general-btn:hover {
    background-color: #e1e1e1;
}

.write-review {
    text-align: center;
}

.student-id-input {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;

    padding: 5px 8px 5px 8px;
    margin: 5px 10px 5px 5px;
}
/* ---------- ---------- */







/* ---------- FOOTER STYLING ---------- */
.footer {
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #D9D9D9;
    background-color: #333333;
}

.socials {
    padding: 15px;
    padding-left: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #444444;
}

.socials a {
    font-size: 14px;
    font-weight: 600;
    padding-right: 22px;
    color: #d9d9d9;
    text-decoration: none;

}

.copyright {
    padding: 10px;
    padding-left: 70px;
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #787878;
    background-color: #333333;
}
/* ---------- ---------- */

