body {
    margin: 0px;
}

hr {
    margin: 20px 0px 20px 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 130px;

    gap: 10px;

    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}


/* ---------- HEADER STYLING ---------- */
.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #444444;
}

.logo {
    padding-left: 50px;
    padding-top: 10px;
    max-width:70px;
    max-height:50px;
    width: auto;
    height: auto;
}

.header h1 {
    display: inline;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}
/* ---------- ---------- */





/* ---------- COURSES STYLING ---------- */
.filters {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.courses {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
/* ---------- ---------- */




/* ---------- REVIEWS STYLING ---------- */
.course-name {
    font-size: 1.5em;
}



.post-btn {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;
    
    background-color: white;
    padding: 5px 8px 5px 8px;
    margin: 0px 5px 5px 0px;
}

.post-btn:hover {
    background-color: #e1e1e1;
}


.reviews {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 50vw;
    overflow: auto;
    padding-left: 20px;
}

.review {
    padding: 20px 0px 20px 0px;
}


.review-and-stars {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}


.star-ratings {
    margin-left: 10px;
}

.general-btn {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;

    background-color: white;
    padding: 5px 8px 5px 8px;
    margin: 5px 10px 5px 0px;
}

.general-btn:hover {
    background-color: #e1e1e1;
}

.write-review {
    text-align: center;
}

.student-id-input {
    border-radius: 30px;
    border-width: 1px;
    border-color: black;

    padding: 5px 8px 5px 8px;
    margin: 5px 10px 5px 5px;
}
/* ---------- ---------- */





/* ---------- FOOTER STYLING ---------- */
.footer {
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #D9D9D9;
    background-color: #333333;
}

.socials {
    padding: 15px;
    padding-left: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #444444;
}

.socials a {
    font-size: 14px;
    font-weight: 600;
    padding-right: 22px;
    color: #d9d9d9;
    text-decoration: none;

}

.copyright {
    padding: 10px;
    padding-left: 70px;
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #787878;
    background-color: #333333;
}
/* ---------- ---------- */

